html.premium {
	--PremiumColor: #1ED760;
}

html.nonpremium {
	--PremiumColor: #3333A3;
}

.allPlaylists {
    position: relative;
	left: 18%;
	top: 80px;
	background: linear-gradient(180deg, var(--PremiumColor) 5.09%, #121212 33.4%);
	width: 82%;
	padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    .card {
        text-decoration: none;
        width: 224px;
        height: 324px;
        border-radius: 8px;
        background: #FFFFFF10;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // justify-content: space-between;
        gap: 20px;
        padding: 20px;
        transition: .5s ease;
        img {
            width: 182px;
            height: 182px;
        }
        div {
            display: flex;
            // align-items: ;
            justify-content: space-between;
            flex-direction: column;
        text-decoration: none;
        gap: 10px;
            p {
                text-decoration: none;
                font-weight: 450;
                font-size: 16px;
                line-height: 23px;
                color: #B3B3B3;
                flex: none;
                order: 1;
                flex-grow: 0;
            }
        }
    }
}