* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Gilroy";
    color: white;
}

body::-webkit-scrollbar {
	width: 0px;
}

html.premium {
	--PremiumColor: #1ED760;
}

html.nonpremium {
	--PremiumColor: #3333A3;
}

.playlist {
    position: relative;
	left: 18%;
	top: 80px;
	background: linear-gradient(180deg, var(--PremiumColor) 5.09%, #121212 33.4%);
	width: 64%;
	padding: 40px;

    .mainInfo {
        display: flex;
        gap: 20px;

        .likeBG {
            width: 300px;
            height: 300px;
            background: linear-gradient(133.58deg, #3822EA 3.13%, #C7E9D7 97.71%);
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 100px;
                width: 100px;
            }
        }

        .img {
            width: 300px;
            height: 300px;
            background-color: aqua;
        }
        .info {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            flex-direction: column;
            gap: 10px;
            h1 {
                font-weight: 900;
                font-size: 122px;
                line-height: 154px;
                display: flex;
                align-items: center;
                color: #FFFFFF;
            }
        }
    }
    .tracksWrapper {
        margin-top: 30px;
        padding-top: 30px;
        .btns {
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;
            .left {
                display: flex;
                align-items: center;
                gap: 35px;
                .playPause {
                    background: #65D36E;
                    width: 72px;
                    height: 72px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 999px;
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
                img {
                    width: 50px;
                    height: 50px;
                }
            }
            .right {
                display: flex;
                align-items: center;
                gap: 38px;
                .inpBox {
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding: 5px;
                    border-radius: 5px;
                    transition: .3s ease;
                    input {
                        width: 0;
                        border: none;
                        background-color: transparent;
                        outline: none;
                        transition: .3s ease;
                    }
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
                .active {
                    background-color: #ffffff30;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding: 5px;
                    border-radius: 5px;
                    transition: .3s ease;
                    input {
                        border: none;
                        background-color: transparent;
                        outline: none;
                        width: 150px;
                        transition: .3s ease;
                    }
                }
            }
        }

        .tracks {
            .tHead {
                height: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #666666;
                padding: 10px;
                padding-right: 50px;
                margin-bottom: 10px;
                p, span {
                    color: #B3B3B3;
                    font-weight: 450;
                    font-size: 16px;
                    line-height: 20px;
                }
                .fr {
                    display: flex;
                    gap: 30px;
                }
            }
            .track {
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                padding-right: 50px;
                border-radius: 5px;

                &:hover {
                    color: #FFFFFF;
                    background-color: #ffffff30;
                }
                .like {
                    position: absolute;
                    right: 12%;
                }
                .more {
                    position: absolute;
                    right: 4%;
                }
                .album {
                    font-weight: 450;
                    font-size: 18px;
                    line-height: 23px;
                    color: #B3B3B3;
                    position: absolute;
                    left: 47%;
                    z-index: 1;
                }
                .duration {
                    font-weight: 450;
                    font-size: 18px;
                    line-height: 23px;
                    color: #B3B3B3;
                }
                .fr {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .titleNartist {
                        width: fit-content;
                        display: flex;
                        flex-direction: column;
    
                    }
                    p {
                        font-weight: 450;
                        font-size: 20px;
                        line-height: 25px;
                        letter-spacing: 0.01em;
                        color: #FFFFFF;
                    }
                    span {
                        font-weight: 450;
                        font-size: 18px;
                        line-height: 23px;
                        color: #B3B3B3;
                    }
                    img {
                        // position: absolute;
                        // z-index: 2;
                        // left: 5%;
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}