

html.premium {
	--PremiumColor: #1ED760;
}

html.nonpremium {
	--PremiumColor: #3333A3;
}
body {
    background-color: #121212;

}
.searched {
    background-color: #121212;
    position: relative;
    height: fit-content;
	left: 18%;
	top:-60px;
	width: 64%;
	padding: 40px;
	.track{
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px;
		padding-right: 50px;
		border-radius: 5px;

		&:hover {
			color: #FFFFFF;
			background-color: #ffffff30;
		}
		.like {
			position: absolute;
			right: 12%;
		}
		.more {
			position: absolute;
			right: 4%;
		}
		.album {
			font-weight: 450;
			font-size: 18px;
			line-height: 23px;
			color: #B3B3B3;
			position: absolute;
			left: 47%;
			z-index: 1;
		}
		.duration {
			font-weight: 450;
			font-size: 18px;
			line-height: 23px;
			color: #B3B3B3;
		}
		.fr {
			display: flex;
			align-items: center;
			gap: 10px;
			.titleNartist {
				width: fit-content;
				display: flex;
				flex-direction: column;

			}
			p {
				font-weight: 450;
				font-size: 20px;
				line-height: 25px;
				letter-spacing: 0.01em;
				color: #FFFFFF;
			}
			span {
				font-weight: 450;
				font-size: 18px;
				line-height: 23px;
				color: #B3B3B3;
			}
			img {
				// position: absolute;
				// z-index: 2;
				// left: 5%;
				width: 40px;
				height: 40px;
			}
		}
	}
}

.swiper {
    width: 40%;
	margin: 100px auto;

      .swiper-slide {

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
		width: 224px;
		height: 324px;
		border-radius: 8px;
		background: #FFFFFF10;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		// justify-content: space-between;
		gap: 20px;
		padding: 20px;
		transition: .5s ease;
		img {
			width: 182px;
			height: 182px;
		}
		div {
			display: flex;
			// align-items: ;
			justify-content: space-between;
			flex-direction: column;
			gap: 10px;
			p {
				font-weight: 450;
				font-size: 16px;
				line-height: 23px;
				color: #B3B3B3;
				flex: none;
				order: 1;
				flex-grow: 0;
			}
		}
      }
}



